RewriteEngine On
# Excluye la carpeta "carpeta_excluida" de la reescritura
RewriteRule ^public/(.*)$ /$1 [L]
# Redirecciona cualquier archivo o directorio a index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
